<?xml version='1.0' encoding='utf-8'?>
<toolbox monitor="true" tool_path="{{ galaxy_root }}/local_tools">
  <section id="test_tools" name="Test Tools">
    <tool file="testing.xml" hidden="true"/>
    <tool file="testing_pbs.xml" hidden="true"/>
    <tool file="testing_html.xml" hidden="true"/>
    </section>
</toolbox>
