galaxy_build_client: false
galaxy_commit_id: latest

csnt_brand: QA2-TEST
# csnt_enable_account_interface: false
csnt_log_level: DEBUG
csnt_enable_notification_system: true

pulsar:
  user_name: galaxy-qa1
  nfs_home: brno11-elixir
  nfs_prefix: pulsar-qa2
  pbs_queue: galaxyqa
  pbs_gpu_queue: galaxy_gpu
pulsar_data_dir: "/storage/{{ pulsar.nfs_home }}/home/{{ pulsar.user_name }}/{{ pulsar.nfs_prefix }}"

galaxy_mutable_config_dir: "{{ galaxy_root }}/var/config"
galaxy_gravity_state_dir: "{{ galaxy_root }}/var/gravity"
galaxy_tool_dependency_dir: "{{ galaxy_root }}/var/dependencies"

galaxy_config_files:
  - src: files/galaxy/themes.yml
    dest: "{{ galaxy_config.galaxy.themes_config_file }}"
  - src: "files/{{ inventory_hostname }}/tpv_rules_local.yml"
    dest: "{{ tpv_mutable_dir }}/tpv_rules_{{ inventory_hostname }}.yml"
  - src: files/{{ inventory_hostname }}/file_sources_conf.yml
    dest: "{{ galaxy_config_dir }}/file_sources_conf.yml"
  - src: files/{{ inventory_hostname }}/user_preferences_extra_conf.yml
    dest: "{{ galaxy_config_dir }}/user_preferences_extra_conf.yml"
  - src: "{{ lookup('first_found', ['templates/'+inventory_hostname+'/config/tool_conf.xml.j2', 'files/galaxy/config/tool_conf.xml']) }}"
    dest: "{{ galaxy_config.galaxy.tool_config_file[0] }}"
  - src: files/galaxy/config/oidc_config.xml
    dest: "{{ galaxy_config_dir }}/oidc_config.xml"

galaxy_repo: "https://github.com/BorisYourich/galaxy.git"
