galaxy_build_client: false
galaxy_commit_id: release_24.2

csnt_brand: QA2-TEST
# csnt_enable_account_interface: false
csnt_log_level: DEBUG
csnt_enable_notification_system: true
csnt_registered_user_jobs_limit: 100

pulsar:
  user_name: galaxy-qa1
  nfs_home: brno11-elixir
  nfs_prefix: pulsar-qa2
  pbs_queue: galaxyqa
  pbs_gpu_queue: galaxy_gpu

galaxy_config_files:
  - src: files/galaxy/themes.yml
    dest: "{{ galaxy_config.galaxy.themes_config_file }}"
  - src: "files/{{ inventory_hostname }}/tpv_rules_local.yml"
    dest: "{{ tpv_mutable_dir }}/tpv_rules_{{ inventory_hostname }}.yml"
  - src: files/{{ inventory_hostname }}/file_sources_conf.yml
    dest: "{{ galaxy_config_dir }}/file_sources_conf.yml"
  - src: files/{{ inventory_hostname }}/user_preferences_extra_conf.yml
    dest: "{{ galaxy_config_dir }}/user_preferences_extra_conf.yml"
  - src: files/galaxy/config/oidc_config.xml
    dest: "{{ galaxy_config_dir }}/oidc_config.xml"
  - src: "{{ lookup('first_found', ['files/'+inventory_hostname+'/config/tool_conf.xml', 'files/galaxy/config/tool_conf.xml']) }}"
    dest: "{{ galaxy_config_dir }}/tool_conf.xml"
  - src: "files/{{ inventory_hostname }}/all_tools.yml"
    dest: "{{ galaxy_config_dir }}/plugins/activities/all_tools.yml"
