# where to put most of the data; we use RBD or NBD volumes
rbd_mount_point: /rbd
rbd_data_dir: "{{ rbd_mount_point }}/galaxy-umsa_data"
galaxy_mutable_data_dir: "{{ rbd_data_dir }}"

galaxy_commit_id: release_25.1
galaxy_build_client: false

csnt_log_level: DEBUG
csnt_enable_notification_system: true
csnt_short_term_storage_dir: /rbd/data/short_term_web_storage
csnt_registered_user_jobs_limit: 100
csnt_tool_config_file:
- "{{ galaxy_config_dir }}/tool_conf.xml"
- "{{ galaxy_config_dir }}/local_tool_conf.xml"
csnt_tool_sheds_config_file: "{{ galaxy_config_dir }}/tool_sheds_conf.xml"
csnt_edam_panel_views: operations,topics
csnt_default_panel_view: all_tools
csnt_allow_path_paste: true
enable_tiaas: false
shed_tools_shadowing: true

galaxy_user_name: galaxyumsa
galaxy_user_group_name: galaxyumsa

pulsar:
  user_name: galaxyumsa
  nfs_home: brno11-elixir
  nfs_prefix: pulsar-umsa
  pbs_queue: galaxyumsa
  pbs_gpu_queue: galaxy_gpu

galaxy_config_files:
  - src: files/galaxy/themes.yml
    dest: "{{ galaxy_config.galaxy.themes_config_file }}"
  - src: "{{ lookup('first_found', ['files/'+inventory_hostname+'/tpv_rules_local.yml', 'files/galaxy/config/tpv_rules_local.yml']) }}"
    dest: "{{ tpv_mutable_dir }}/tpv_rules_{{ inventory_hostname }}.yml"
  - src: "{{ lookup('first_found', ['files/'+inventory_hostname+'/config/tool_conf.xml', 'files/galaxy/config/tool_conf.xml']) }}"
    dest: "{{ galaxy_config_dir }}/tool_conf.xml"
  - src: files/galaxy/config/oidc_config.xml
    dest: "{{ galaxy_config_dir }}/oidc_config.xml"
  - src: "files/{{ inventory_hostname }}/config/tool_sheds_conf.xml"
    dest: "{{ galaxy_config_dir }}/tool_sheds_conf.xml"
  - src: "files/{{ inventory_hostname }}/all_tools.yml"
    dest: "{{ galaxy_config_dir }}/plugins/activities/all_tools.yml"
