#
# Proftpd sample configuration for LDAP authentication.
#
# (This is not to be used if you prefer a PAM-based LDAP authentication)
#

<IfModule mod_ldap.c>

#
# This is used for encrypted LDAPS connections
#
LDAPServer ldaps://perun.metacentrum.cz/??sub
LDAPBindDN "perunUserId={{ ldap_perun_user_id }},ou=People,dc=perun,dc=cesnet,dc=cz" "{{ ldap_user_password }}"
LDAPUsers "dc=perun,dc=cesnet,dc=cz" "(&(login=%v)(objectclass=perunUser)(memberof=perunGroupId={{ ldap_perun_group_id }},perunVoId={{ ldap_perun_vo_id }},dc=perun,dc=cesnet,dc=cz))"
LDAPSearchScope subtree
#set where to find attr                                                                                                                      
LDAPAttr uid login;x-ns-einfra
LDAPAttr uidNumber uidNumber;x-ns-cerit
#set uid to galaxyelixir and gid to meta                                                                                                    
LDAPDefaultUID {{ galaxy_user_id }}
LDAPForceDefaultUID     on
LDAPDefaultGID {{ galaxy_user_group_gid }}
LDAPForceDefaultGID     on
#set homedir creation                                                                                                                           
LDAPGenerateHomedir on 700
LDAPGenerateHomedirPrefix {{ galaxy_ftp_upload_dir }}/%u@{{ galaxy_users_domain }}
LDAPForceGeneratedHomedir on
LDAPGenerateHomedirPrefixNoUsername on
</IfModule>

