<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="dist/base.css" type="text/css" />
        <style>
           html {
               font-size: 20px;
           }
       </style>
    </head>
    <body class="m-0">
        <div class="py-4">
            <div class="container fs-2 display-4">
                <p>Welcome to <abbr title="Untargeted Mass Spectrometry Analysis">UMSA</abbr> Galaxy</p>
            </div>
            <div class="container">
                <p class="text-muted small">operated on behalf of <abbr title="Research Centre for Toxic Compounds in the Environment">RECETOX</abbr>, Masaryk University, Brno, Czechia</p>
            </div>
            <div class="container">
                <p class="">Among our aims is to provide mass spectrometry analytical pipelines as a service as well as publish tools, workflows, and other results of our research.</p>
                <p class=""><a href="mailto:GalaxyToolsDevelopmentandDeployment@space.muni.cz">Send us an email</a> if you want to talk to us.</p>
            </div>
        </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" >
                          <div class="card-body">
                            <h5 class="card-title">Tools</h5>
                            <p class="card-text">Our tool-related work is accessible in an open GitHub repository.</p>
                            <a target="_blank" class="reference" href="https://github.com/RECETOX/galaxytools" class="card-link">Visit</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" >
                          <div class="card-body">
                            <h5 class="card-title">Workflows</h5>
                            <p class="card-text">This is where we share and test our Galaxy workflows.</p>
                            <a target="_blank" class="reference" href="https://github.com/RECETOX/workflow-testing" class="card-link">Explore</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" >
                          <div class="card-body">
                            <h5 class="card-title">Data</h5>
                            <p class="card-text">Galaxy Data Library with datasets for testing our pipelines.</p>
                            <a target="_blank" class="reference" href="https://galaxy-umsa.grid.cesnet.cz/libraries" class="card-link">See</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-2">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card" >
                          <div class="card-body">
                            <h5 class="card-title">RECETOX</h5>
                            <p class="card-text">Our research centre's homepage.</p>
                            <a target="_blank" href="https://www.recetox.muni.cz/en" class="card-link">Visit</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card" >
                          <div class="card-body">
                            <h5 class="card-title"><abbr title="Institute of Computer Science">ICS</abbr>, <abbr title="CERIT Scientific Cloud">CERIT-SC</abbr>, and ELIXIR CZ</h5>
                            <p class="card-text">Our infrastructure hosts and development partners.</p>
                            <a target="_blank" href="https://www.ics.muni.cz/en" class="card-link">ICS</a>
			                <a target="_blank" href="https://www.cerit-sc.cz/?lang=en" class="card-link">CERIT-SC</a>
			                <a target="_blank" href="https://www.elixir-czech.cz/" class="card-link">ELIXIR CZ</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="container mt-3">
            <footer>
            <p class="font-weight-lighter">
                <a target="_blank" class="reference" href="http://galaxyproject.org/">
                Galaxy</a> is an open platform for supporting data intensive
                research developed by <a target="_blank" class="reference" href="https://galaxyproject.org/community/">The Galaxy Community</a>.
                The Galaxy Project is supported in part by <a target="_blank" class="reference" href="http://www.genome.gov">NHGRI</a>,
                <a target="_blank" class="reference" href="http://www.nsf.gov">NSF</a>,
                <a target="_blank" class="reference" href="http://www.huck.psu.edu">The Huck Institutes of the Life Sciences</a>,
                <a target="_blank" class="reference" href="http://www.ics.psu.edu">The Institute for CyberScience at Penn State</a>,
                and <a target="_blank" class="reference" href="http://www.jhu.edu/">Johns Hopkins University</a>.
            </p>
            </footer>
        </div>
    </body>
</html>
