#!/bin/bash
# Script that copies files to TPV config dir, only if linting is successful

PYTHONPATH="{{ galaxy_root }}/server/lib"
VENV="{{ galaxy_venv_dir }}"
TPV_MUTABLE_DIR="{{ tpv_mutable_dir }}"
TPV_DIR="{{ tpv_config_dir }}"
TPV_DIR_NAME="{{ tpv_config_dir_name }}"
JOB_CONFIG_FILE="{{ galaxy_job_config_file }}"

. $VENV/bin/activate

for f in "$TPV_MUTABLE_DIR"/*.yml; do
        FNAME=$(basename "$f")
        if PYTHONPATH=$PYTHONPATH tpv lint "$f"; then
                echo "lint successful, checking job configuration..."
                if grep -q "$TPV_DIR_NAME/$FNAME" "$JOB_CONFIG_FILE"; then
                        echo "$FNAME is present in job configuration, copying..."
                        [[ $(type -t cp) == "alias" ]] && unalias cp
                        cp -bu "$f" "$TPV_DIR/$FNAME" {% if tpv_privsep %}&& chown root:{{ __galaxy_user_group }} "$TPV_DIR/$FNAME" {% endif %}

                else
                        echo "$FNAME is not present in job configuration, exiting..."
                        exit 3 && true
                fi
        else
                echo "lint failed, '$FNAME' was not copied"
                exit 3 && true
    fi
done
