<?xml version='1.0' encoding='utf-8'?>
<toolbox monitor="true" tool_path="{{ galaxy_root }}/local_tools">
    <tool file="testing.xml" />
    <tool file="testing_pbs.xml" />
    <tool file="rosettafold2.xml" />
    <tool file="rosettafold2_sing.xml" />
</toolbox>
