<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="dist/base.css" type="text/css" />
</head>
<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .column {
        flex: 1;
        padding: 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
</style>

<body class="m-0" style="font-size: 1.1rem">
    <div class="py-4">
        <div class="container">
            <h1>QA1 TEST</h1>
            <p class="lead text-center">
                Welcome to the QA1 TEST instance of
                <a href="https://www.e-infra.cz/">E-Infra CZ</a> and
                <a href="https://www.elixir-czech.cz/">ELIXIR CZ</a>
                hosted at <a href="https://metavo.metacentrum.cz/">MetaCentrum</a>. We
                aim to enable accessible, reproducible, and transparent computational
                research in Czechia. We support thousands of documented and maintained
                tools that are free to use and backed by a robust public
                infrastructure.
            </p>
            <p>
                Please visit our
                <a href="https://docs.metacentrum.cz/en/docs/related/galaxy" target="_blank"
                    class="reference">Documentation</a>
                for details about using this service. In case of any further
                questions, please contact us at
                <a href="mailto:regalaxy@rt.cesnet.cz" target="_blank">regalaxy@rt.cesnet.cz</a>.
            </p>
            <p>You can start with an interactive tour:
            <div>
                <a target="_parent" href="../tours/core.galaxy_ui" class="btn btn-secondary btn-sm">Galaxy UI</a>
                <a target="_parent" href="../tours/core.history" class="btn btn-secondary btn-sm">Galaxy History</a>
                <a target="_parent" href="../tours/core.windows" class="btn btn-secondary btn-sm">Window Manager</a>
                <a target="_parent" href="../tours/core.deferred" class="btn btn-secondary btn-sm">Deferred Datasets</a>
            </div>
            </p>
            <p>
                <a target="_blank" class="reference" href="http://galaxyproject.org/">
                    Galaxy</a>
                is an open platform for supporting data intensive research developed
                by its
                <a target="_blank" class="reference"
                    href="https://github.com/galaxyproject/galaxy/blob/dev/CONTRIBUTORS.md">many contributors</a>.
            </p>
            <div class="row">
                <div class="column">
                    <a href="https://www.e-infra.cz/">
                        <img src="e-infra_logo.svg" alt="e-infra" style="width: 100%" /></a>
                </div>
                <div class="column" style="padding: 50px"></div>
                <div class="column">
                    <a href="https://www.elixir-czech.cz/"><img src="elixir_logo.png" alt="elixir"
                            style="width: 100%" /></a>
                </div>
            </div>
            <div class="column">
                <img src="eu_msmt_eosc.svg" alt="eu_eosc_msmt_logos" style="width: 100%" />
            </div>
        </div>
    </div>
</body>

</html>
