# {{ ansible_managed }}
#
# Log related options are passed directly via the command line

address    = "{{ flower_bind_address }}"
port       = "{{ flower_port }}"
broker_api = "{{ flower_broker_api }}"
persistent = {{ flower_persistent }}
basic_auth = [{% for user in flower_ui_users %} "{{ user.name }}:{{ user.password }}", {% endfor %}]
db         = "{{ flower_db_file }}"
