map $remote_user $remote_user_clean {
    "~(?<name>[^ \t]+)" $name;
}

upstream galaxy_app {
	server {{ galaxy_config.gravity.gunicorn.bind }};

	# Or if you serve galaxy at a path like http(s)://fqdn/galaxy
	# Remember to set galaxy_url_prefix in the galaxy.yml file.
	# server {{ galaxy_config.gravity.gunicorn.bind }}:/galaxy;
}

server {
{% block root %}
    {% if galaxy_prefix != '' %}        
        # main website serving as crossroad for registration and access to Galaxy
        root /srv/welcome_page/welcome_page.clean;
    {% endif %}
{% endblock root %}

	# Listen on port 443
	listen        443 ssl default_server;
        listen        [::]:443 ssl default_server;
	# The virtualhost is our domain name
	server_name   "{{ inventory_hostname }}";

	# allows to send/receive big files to/from pulsar
	client_max_body_size 50G;
	client_body_buffer_size 1024m;
	client_body_temp_path  {{ galaxy_temp_dir }}/nginx_upload_store;

	# smaller timeout interrupted transimition of bigger files
	send_timeout 300s;
        proxy_read_timeout 1200s;
        proxy_request_buffering off;
        proxy_buffering off;
        proxy_http_version 1.1;
        client_body_timeout 7200s;    
        client_header_timeout 600s;

	# Our log files will go to journalctl
	access_log  syslog:server=unix:/dev/log;
	error_log   syslog:server=unix:/dev/log;

	# The most important location block, by default all requests are sent to gunicorn
	# If you serve galaxy at a path like /galaxy, change that below (and all other locations!)
	location {{ galaxy_prefix }}/ {
		# This is the backend to send the requests to.
		proxy_pass http://galaxy_app;
		proxy_set_header Host $http_host;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Upgrade $http_upgrade;

		#proxy_set_header REMOTE_USER $remote_user_clean;
		#proxy_set_header GX_SECRET "{{ vault_id_secret }}";
		#auth_ldap "LDAP Protected -- Galaxy instance of RepeatExplorer tool";
		#auth_ldap_servers ad_1;
	}

        location {{ galaxy_prefix }}/api/upload/resumable_upload {
                # Disable request and response buffering
                proxy_request_buffering     off;
                proxy_buffering             off;
                proxy_http_version          1.1;

                # Add X-Forwarded-* headers
                proxy_set_header X-Forwarded-Host   $host;
                proxy_set_header X-Forwarded-Proto  $scheme;

                proxy_set_header Upgrade            $http_upgrade;
                proxy_set_header Connection         "upgrade";
                client_max_body_size        0;
                proxy_pass http://localhost:{{ galaxy_tusd_port }}/files;  
        }
        #DEMON: hopefully just a temporary hack, need to find out how to configure TUSd hook via ansible role
        location /api/upload/hooks {
                rewrite ^/api/upload/hooks(.*)$ {{ galaxy_prefix }}/api/upload/hooks$1 break;
                proxy_pass https://{{ inventory_hostname }};
        }

	# Static files can be more efficiently served by Nginx. Why send the
	# request to Gunicorn which should be spending its time doing more useful
	# things like serving Galaxy!
	location {{ galaxy_prefix }}/static {
		alias {{ galaxy_server_dir }}/static;
		expires 24h;
	}

	# In Galaxy instances started with run.sh, many config files are
	# automatically copied around. The welcome page is one of them. In
	# production, this step is skipped, so we will manually alias that.
	location {{ galaxy_prefix }}/static/welcome.html {
		alias {{ galaxy_mutable_config_dir }}/welcome.html;
		expires 24h;
	}

	# serve visualization and interactive environment plugin static content
	location ~ ^{{ galaxy_prefix }}/plugins/(?<plug_type>[^/]+?)/((?<vis_d>[^/_]*)_?)?(?<vis_name>[^/]*?)/static/(?<static_file>.*?)$ {
		alias {{ galaxy_server_dir }}/config/plugins/$plug_type/;
		try_files $vis_d/${vis_d}_${vis_name}/static/$static_file
		          $vis_d/static/$static_file =404;
	}

	location {{ galaxy_prefix }}/robots.txt {
		alias {{ galaxy_server_dir }}/static/robots.txt;
	}

	location /favicon.ico {
		alias {{ galaxy_server_dir }}/static/favicon.ico;
	}

	location /_x_accel_redirect {
		internal;
		alias /;
	}

	location /flower {
		proxy_pass http://localhost:5555;
		proxy_set_header Host $host;
		proxy_redirect off;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
	}

#	location ~* /rabbitmq/(.*) {
#		rewrite ^/rabbitmq/(.*)$ /$1 break;
#		proxy_pass http://127.0.0.1:15672;
#		proxy_buffering                    off;
#		proxy_set_header Host              $http_host;
#		proxy_set_header X-Real-IP         $remote_addr;
#		proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
#		proxy_set_header X-Forwarded-Proto $scheme;
#	}

{% block rewrite %}
    {% if galaxy_prefix != '' %}        
        # redirect /prefix -> /prefix/
        rewrite ^{{ galaxy_prefix }}$ {{ galaxy_prefix }}/ last;
    {% endif %}
{% endblock rewrite %}

}
  
