server {
	listen 80 default_server;
	listen [::]:80 default_server;

	server_name "{{ inventory_hostname }}";

	location /.well-known/ {
		root {{ certbot_well_known_root }};
	}

	location / {
		return 302 "https://{{ inventory_hostname }}$request_uri";
	}
}

#server {
#        listen 80;
#        listen [::]:80;
#        listen 443 ssl;
#        listen [::]:443 ssl;
#
#        server_name "repeatexplorer-elixir.cerit-sc.cz";
#
#        return 308 "https://{{ inventory_hostname }}$request_uri";
#}
