server {
	listen 80 default_server;
	listen [::]:80 default_server;

	server_name "{{ inventory_hostname }}";

	location /.well-known/acme-challenge/ {
		root {{ certbot_well_known_root }};
	}

	location / {
		return 302 https://{{ inventory_hostname }}$request_uri;
	}
}

{% block root %}
{% if (extra_certbot_domains | default(false) ) %}
{% for host in extra_certbot_domains %}

server {
        listen 80;
        listen [::]:80;
        listen 443 ssl;
        listen [::]:443 ssl;

        server_name "{{ host }}";

        location /.well-known/acme-challenge/ {
                root {{ certbot_well_known_root }};
        }

        location / {
                return 308 "https://{{ inventory_hostname }}$request_uri";
        }
}

{% endfor %}
{% endif %}
{% endblock root %}

