<?xml version="1.0"?>
<object_store type="hierarchical">
    <backends>
        <backend id="localdata" type="disk" order="0">
	    <files_dir path="{{ galaxy_mutable_data_dir }}/datasets" />
	    <extra_dir type="job_work" path="{{ galaxy_mutable_data_dir }}/jobs" />
        </backend>
    </backends>
</object_store>

