<tables>
    <table name="genai_models" comment_char="#" allow_duplicate_entries="False">
        <columns>value, model_id, name, domain, provider, free_tag</columns>
        <file path="{{ galaxy_tool_data_path }}/genai_models.loc" />
    </table>
</tables>
