<?xml version="1.0"?>
<object_store type="hierarchical">
    <backends>
        <backend id="newdata" type="disk" order="0">
	    <files_dir path="/rbd/data2" />
	    <extra_dir type="job_work" path="/rbd/data2/job_work_dir" />
        </backend>
        <backend id="olddata" type="disk" order="1">
	    <files_dir path="/mnt/data" />
	    <extra_dir type="job_work" path="/mnt/data/job_work_dir" />
        </backend>
    </backends>
</object_store>

