<?xml version="1.0"?>
<object_store type="hierarchical">
    <backends>
        <backend id="newdata" type="disk" order="0">
	    <files_dir path="{{ galaxy_data_prefix }}/datasets" />
            <extra_dir type="temp" path="{{ galaxy_data_prefix }}/tmp"/>
	    <extra_dir type="job_work" path="{{ galaxy_data_prefix }}/jobs" />
        </backend>
    </backends>
</object_store>

