<?xml version="1.0"?>
<object_store type="hierarchical">
    <backends>
        <backend id="newdata" type="disk" order="0">
	    <files_dir path="{{ galaxy_mutable_data_dir }}/datasets" />
	    <extra_dir type="job_work" path="{{ galaxy_mutable_data_dir }}/jobs" />
        </backend>
<!-- FIXME: hardcoded /mnt 
        <backend id="olddata" type="disk" order="1">
	    <files_dir path="/mnt/database" />
	    <extra_dir type="job_work" path="/mnt/database/job_work_dir" />
        </backend>
-->
    </backends>
</object_store>

