<?xml version="1.0"?>
<OIDC>
  <provider name="Einfracz">
    <client_id>{{ einfracz_client_id }}</client_id>
    <client_secret>{{ einfracz_client_secret }}</client_secret>
    <redirect_uri>https://{{ inventory_hostname }}/authnz/einfracz/callback</redirect_uri>
    <icon>https://www.e-infra.cz/img/logo.svg</icon>
  </provider>
</OIDC>
