<?xml version="1.0"?>
<OIDC>
    <provider name="Keycloak">
      <client_id></client_id>
      <client_secret></client_secret>
      <redirect_uri>https://{{ inventory_hostname }}/authnz/keycloak/callback</redirect_uri>
      <url>https://login.e-infra.cz/oidc</url>
      <icon>https://www.e-infra.cz/img/logo.svg</icon>
      <!-- <extra_scopes>offline_access</extra_scopes> -->
    </provider>
</OIDC>
