galaxy_commit_id: release_25.0
galaxy_build_client: false
galaxy_client_make_target: client-production

csnt_brand: QA1-TEST-25.0
csnt_log_level: DEBUG
csnt_enable_notification_system: true
csnt_edam_panel_views: operations,topics
csnt_default_panel_view: all_tools
csnt_require_login: true

pulsar:
  user_name: galaxy-qa1
  nfs_home: brno11-elixir
  nfs_prefix: pulsar-qa1
  pbs_queue: galaxyqa
  pbs_gpu_queue: galaxy_gpu

galaxy_config_files:
  - src: files/galaxy/themes.yml
    dest: "{{ galaxy_config.galaxy.themes_config_file }}"
  - src: "files/{{ inventory_hostname }}/tpv_rules_local.yml"
    dest: "{{ tpv_mutable_dir }}/tpv_rules_{{ inventory_hostname }}.yml"
  - src: "{{ lookup('first_found', ['files/'+inventory_hostname+'/config/tool_conf.xml', 'files/galaxy/config/tool_conf.xml']) }}"
    dest: "{{ galaxy_config_dir }}/tool_conf.xml"
  - src: files/galaxy/config/oidc_config.xml
    dest: "{{ galaxy_config_dir }}/oidc_config.xml"
  - src: "files/{{ inventory_hostname }}/all_tools.yml"
    dest: "{{ galaxy_config_dir }}/plugins/activities/all_tools.yml"
  - src: files/{{ inventory_hostname }}/file_sources_conf.yml
    dest: "{{ galaxy_config_dir }}/file_sources_conf.yml"
  - src: files/{{ inventory_hostname }}/user_preferences_extra_conf.yml
    dest: "{{ galaxy_config_dir }}/user_preferences_extra_conf.yml"
