#!/usr/bin/env bash
set -euo pipefail

echo "$(date) - tool installation log entry"
cd {{ galaxy_root }}/cron/tools
git -C "galaxy_tools" pull || git clone https://github.com/CESNET/galaxy_tools galaxy_tools
cd {{ galaxy_root }}/cron/tools/galaxy_tools
python3 -m venv {{ galaxy_root }}/cron/tools/galaxy_tools/.venv
source {{ galaxy_root }}/cron/tools/galaxy_tools/.venv/bin/activate
pip install ephemeris
find $URL -name '*.yml.lock' | xargs -n 1 -I {} shed-tools install --toolsfile {} --galaxy $URL --api_key $API_KEY --skip_install_resolver_dependencies
echo "$(date) - tool installation finished"
